asyncpg==0.30.0
Babel==2.17.0
click==8.2.1
datrie==0.8.2
falcon==4.0.2
greenlet==3.2.3
gunicorn==23.0.0
h11==0.16.0
Jinja2==3.1.6
MarkupSafe==3.0.2
packaging==25.0
psutil==7.0.0
psycopg==3.2.9
psycopg2==2.9.10
PyICU==2.15.2
python-dotenv==1.1.0
pytz==2025.2
PyYAML==6.0.2
SQLAlchemy==2.0.41
typing_extensions==4.14.0
uvicorn==0.34.3
